<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion-based Music Player</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Emotion-based Music Player</h1>
        <video id="video" width="640" height="480" autoplay></video>
        <button id="capture-btn">Capture Image</button>
        <div id="emotion-display"></div>
        <audio id="music-player" controls style="display: none;"></audio>
        <!-- Add an image element to display the captured image -->
        <img id="captured-image" src="" alt="Captured Image" style="display: none;">
        <!-- Add a container for animations -->
        <div id="animation-container"></div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
    